@import "../../css/theme.scss";

/////////SCAFFOLDING/////////
.section .row {
    align-items: center;
}

/////////TEXT CONTAINER STYLES/////////
.teamInfo {
    margin-top: 30px;
}
@media (min-width: 575px) {
    .teamInfo {
        margin-left: 30px;
        margin-top: 0px;
    }
}

/////////SUBTITLE/////////


/////////TITLE/////////
.title {

    color: $baseFontColor;
    margin-top: 10px;
    margin-bottom: 10px;
}


/////////CONTENT/////////
.content {
}
@media (min-width: 575px) {
    .content {
        color: $secondaryColor;
    }
}
.rowTop {
    margin-bottom: 30px;
}
.rowBottom {
    margin-top: 30px;
}
