@import "../../css/theme.scss";


/////////BACKGROUND STYLES/////////
.section {
     background: url("./images/wine-tasting.png");
     background-repeat: no-repeat;
     background-size: contain;
     overflow: hidden;
     position: relative;
     height: 325px;
     top: 70px;

}
@media (min-width: 768px) {
    .section {
         background-size: cover;
         height: 625px;
         top: 0;
    }
}
