@import "../../css/theme.scss";

//////////input//////////
.input {
    display: block;
    padding: $paddingStandard;
    width: 100%;
    height: 35px;
    margin-top: $marginStandard;
    margin-bottom: $marginStandard;
    background: $accentColor;
    border: none;
    border-radius: $borderRadius;
}
//////////text area//////////
.comment {
    height: 75px;
}

//////////form boundaries//////////
.contactForm {
    background: $tertiaryColor;
    border-radius: $borderRadius;
}

//////////form inside//////////
.form {
    padding: $paddingStandard;
}
@media (min-width: 768px) {
    .contactForm {
        background: $tertiaryColor;
        height: 350px;
        width: 350px;
        border-radius: $borderRadius;
    }
}

//////////submit button//////////
.submit {
    height: 35px;
    width: 100px;
    border-style: none;
    background: #9de947;
    border-radius: 4px;
    margin-left: 130px;
    margin-right: 130px;
    text-transform: uppercase;
    color: #fff;
}
@media (min-width: 768px) {
    .submit {
        margin-left: 110px;
        margin-right: 110px;
    }
}

//////////form title//////////
.formTitle {
    text-align: center;
    padding-top: 15px;
}
