@import "../../css/theme.scss";

.contactForm {
    background: #3D441D;
    border-radius: 4px;
}
.form {
    padding: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.formTitle {
    text-align: center;
    padding-top: 30px;
    color: #fff;
    font-size: $h4;
}
.input {
    @include input;
    @include inputDark;
}
input::placeholder {
    color: #fff;
}
.email {
    display: block;
    width: 95%;
}
.name {
    display: block;
    width: 95%;
}
.phone {
    width: 95%;
}
.commentary {
    width: 95%;
    height: 205px;
}
.buttonContainer {
    display: flex;
    text-align: center;
    padding-top: 15px;
}
.submitButton {
    background-color: #fff;
    padding: 10px 40px 10px 40px;
    border-radius: 4px;
    color: $accentColor;
    font-family: $titleFamily;
}
