@import "../../css/theme.scss";

.contactForm {
    background: #3D441D;
    border-radius: 4px;
}
.form {
    padding: 30px;
    margin: 15px;
}
.formTitle {
    text-align: center;
    padding-top: 30px;
    color: #fff;
    font-size: $h4;
}
.input {
    background-color: #5f6b27;
    border: none;
    width: 190px;
    padding: 20px 10px 20px 10px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}
.email {
    display: block;
    width: 100%;
}
.firstName {
    display: inline;
}
.lastName {
    display: inline;
}
.phone {
    width: 100%;
}
.commentary {
    width: 100%;
    height: 150px;
    padding: 20px 10px 20px 10px;
}

.buttonContainer {
    display: flex;
    text-align: center;
    padding-top: 15px;
}
.submitButton {
    background-color: #fff;
    padding: 10px 40px 10px 40px;
    border-radius: 4px;
    color: $accentColor;
    font-family: $titleFamily;
}
