@import "../../css/theme.scss";

/////////SECTION/CONTAINER STYLES/////////
.section  {
    display: flex;
    background-image: url("./images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: left 90px bottom 20px top 30px;
    padding-top: 40px;
    height: 550px;
}
@media (min-width: 768px) {
    .section {
        background-position: right 00px bottom 20px top 30px;
        height: 550px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 80px;
    }
}
.footer__SlackCTA {
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .footer__SlackCTA {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
}

/////////MEDIA FIGURE/////////
.mediaFigure {
    width: 150px;
    height: 150px;
    margin-left: -11px;
    margin-bottom: -10px;
}
@media (min-width: 992px) {
    .mediaFigure {
        width: 250px;
        height: 250px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}

/////////HEADING STYLES/////////
.title {
    font-size: $h2mobile;
    color: $baseFontColor;
}
@media (min-width: 768px) {
    .title {
        font-size: $h2;
        color: $baseFontColor;
        max-width: 85%;
    }
}

/////////BODY STYLES/////////
.content {
    color: $secondaryColor;
    font-size: $body;
    max-width: 550px;
    margin-top: -6px;

}
.body {
    max-width: 70%;
}

/////////FOOTER STYLES/////////
.subTitle {
    color: rgba(43,41,45,0.6);
    font-size: $subtitleMobile;
    padding-top: 12px;
}
@media (min-width: 575px) {
    .subTitle {
        font-size: $subtitle;
    }
}

/////////FOOTER STYLES/////////
.footer  {
    padding-top: 6px;
}
