@import "../../css/theme.scss";

/////////LOGO STYLES/////////
.menuItem {
    display: inline;
    padding: 15px;
}
.navLink {
    color: #fff;
}
.button {
    background: #3D441D;
    padding: 15px 25px 15px 25px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    width: 150px;
}
.button:hover {
    background: #5f6b27;
}
