@import "../../css/theme.scss";

.heroContent {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.heading {
    font-size: $h2;
}
.title {
    font-size: $h4;
}
.body {
    font-size: $body;
}
.row {
    align-items: center;
}
