@import "../../css/theme.scss";


/////////BACKGROUND STYLES/////////
.section {
     background-repeat: no-repeat;
     background-size: cover;
     overflow: hidden;
     position: relative;
}
.heroContent {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
