@import "../../css/theme.scss";


/////////BACKGROUND STYLES/////////
.HouseCupHero {
     background: url("./images/wine-hero.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     overflow: hidden;
     position: relative;
     height: 725px;
}
