.easyBeautifulInterface {
    margin-top: 80px;
    margin-bottom: 80px;
}
.easyBeautifulInterface .row {
    display: flex;
    align-items: center;
}
.easyBeautifulInterface .media__figure img{
    width: 800px;
}
.easyBeautifulInterface .media__content {
    margin-left: 130px;
}
.media__subTitle {
    color: #00A5E4;
}
.media__title .heading {
    color: #000;
}
.easyBeautifulInterface .media__footer .button--primary {
    color: #00A5E4;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid;
    font-weight: 400;
    font-size: 12px;
}
