
.mediaFigure{
    width: 275px;
    transform: rotate(35deg);
    margin-left: -150px;
}
 .Content {
    margin-left: 130px;
}
.SubTitle {
    color: #00A5E4;
}
.heading {
    color: #000;
}
.row {
    align-items: center;
}
