@import "../../css/theme.scss";

/////////STRUCTURAL STYLES/////////
.row {
    align-items: center;
}

/////////IMAGE STYLES/////////
.mediaFigure{
    width: 120px;
    transform: rotate(35deg);
    margin-left: -15px;
    margin-bottom: -180px;
}
@media (min-width: 768px) {
    .mediaFigure{
        width: 215px;
        transform: rotate(35deg);
        margin-left: -150px;
        margin-bottom: -100px;
    }
}

/////////TEXT STYLES/////////
.Content {
   margin-left: 130px;
}
.heading {
    color: $accentColor;
}
.heading {
    font-size: $h3;
}
.mediaBody {
    font-size: $body;
}
