@import "../../css/theme.scss";

.mediaFigure{
    width: 275px;
    transform: rotate(35deg);
    margin-left: -150px;
}
.mediaBody {
    font-size: $body;
}
 .Content {
    margin-left: 130px;
}
.heading {
    color: $accentColor;
}
.row {
    align-items: center;
}
.heading {
    font-size: $h3;
}
