@import "../../css/theme.scss";

.image {
    width: 300px;
    transform: rotate(90deg);
    margin-left: 50px;
    margin-top: -70px;
    margin-bottom: -80px;
}
@media (min-width: 768px) {
    .image {
        width: 450px;
        margin-left: 0px;
        margin-top: 0px;
        transform: rotate(0deg);
    }
}
.heading {
    font-size: $h2;
    color: $baseFontColor;
}
.body {
    font-size: $body;
    color: $baseFontColor;
}
.subheading {
    font-size: $h3;
    color: $accentColor;
}
.session {
    font-family: $titleFamily;
}
.tastingSession {
    font-size: $body;
    color: $baseFontColor;
}
