@import "../../css/theme.scss";

/////////CARD STYLES/////////
@media (min-width: 768px) {
    .card {
        padding: 0.625rem;
    }
}
.image {
    width: 300px;
    height: 170px;
    padding: 20px;
}

/////////MEDIA STYLES/////////
.media {
    display: flex;
    margin-right: $mediumSpace;
    align-items: center;
    padding: 2px;
}

/////////MEDIA HEADING/////////
.mediaHeading {
    font-family: $titleFamily;
    font-size: $h5;
}

/////////MEDIA CONTENT/////////
.mediaContent {
    color: $baseFontColor;
}

/////////MEDIA BODY/////////
.mediaBody {
    color: $baseFontColor;
    font-size: $body;
    margin-top: $smallSpace;
}

/////////MEDIA BUTTON/////////
.mediaButton {
    @include buttonTall;
    background: $primaryButton;
}
.mediaButton:hover {
    background: $primaryButtonHover;
}
