@import "../../css/theme.scss";

/////////CARD STYLES/////////
@media (min-width: 768px) {
    .card {
        padding: 0.625rem;
    }
}
.image {
    width: 300px;
    padding: 20px;
}

/////////MEDIA STYLES/////////
.media {
    display: flex;
    margin-right: 1.25rem;
    align-items: center;
    padding: 2px;
}

/////////MEDIA HEADING/////////
.mediaHeading {
    font-family: $titleFamily;
}

/////////MEDIA CONTENT/////////
.mediaContent {
    color: #212121;
}

/////////MEDIA BODY/////////
.mediaBody {
    color: $baseFontColor;
    font-size: 14px;
    margin-top: 7px;
}

/////////MEDIA BUTTON/////////
.mediaButton {
    font-size: 12px;
    font-weight: 600;
    background: #3D441D;
    padding: 20px 40px 20px 40px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    width: 150px;

}
.mediaButton:hover {
    background: #5f6b27;
}
