@import "../../css/theme.scss";

/////////CARD STYLES/////////
.card {
    border-radius: 8px;
    align-items: center;
    border-style: solid;
    border-color: $borderColor;
    border-width: 1px;
    min-width: 0;
    display: block;

    &.align-top {align-items: flex-start;}
    &.align-stretch {align-items: stretch;}
}
.card:hover {
    box-shadow: $boxShadow;
    border-color: transparent;
}
@media (min-width: 768px) {
    .card {
        padding: 0.625rem;
    }
}

/////////MEDIA STYLES/////////
.media {
    display: flex;
    margin-right: 1.25rem;
    align-items: center;
    padding: 2px;
}

/////////MEDIA HEADING/////////
.mediaHeading {
    font-weight: $bold;
    font-size: $h6mobile;
}
@media (min-width: 768px) {
    .mediaHeading {
        font-size: $h6;
    }
}

/////////MEDIA CONTENT/////////
.mediaContent {
    color: #212121;
}

/////////MEDIA BODY/////////
.mediaBody {
    color: $baseFontColor;
    font-size: 14px;
    margin-top: 7px;
}

/////////MEDIA BUTTON/////////
.mediaButton {
    color: $tertiaryColor;
    font-size: 12px;
    font-weight: 600;
}
.mediaButton:hover {
    text-decoration: $underlineHover;
}
