.heading {
    width: 100%;
    margin-bottom: .3em;
}
.noMargin {
    margin: 0;
}
.align--center {
    text-align: center;
}
.align--right {
    text-align: right;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
