// my super duper modal
@import "../../css/theme.scss";
.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.4);
    z-index: 999999;

    .modalCloser {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &.isOpen {
        display: block;

    }
    .closeButton {
        text-align: right;
    }
    i {
        color: #424242;
        font-size: 20px;
    }
    .modalContent {
        background: #fff;
        margin: 10vh auto 0;
        padding: 10px;
        min-height: 100px;
        max-width: 1000px;
        width: 100%;
        position: relative;
        z-index: 10000;
        box-shadow: $boxShadow;
        border-radius: 4px;
    }
    @media (min-width: 768px) {
        .modalContent {
            margin: 21vh auto 0;
        }
    }
}
