@import "../../css/theme.scss";

.input {
    @include input;
    @include inputLight;
}
::placeholder {
    color: $baseFontColor;
}
.ticketOptions {
    display: block;
    width: 100%;
}
.email {
    display: block;
    width: 100%;
}
.firstName {
    width: 50%;
    display: inline;
}
.lastName {
    width: 50%;
    display: inline;
}
.phone {
    width: 100%;
}
.commentary {
    width: 100%;
    height: 150px;
    padding: 20px 10px 20px 10px;
}
.submitButton {
    background-color: $tertiaryButton;
    padding: 10px 40px 10px 40px;
    border-radius: 4px;
    color: #fff;
    font-family: $titleFamily;
}
.legal {
    color: #000;
    font-family: $bodyFamily;
    font-size: 10px;
}

.media {
    transform: rotate(15deg);
    margin-left: 50%;
}
.formTitle {
    color: $baseFontColor;
    margin-bottom: 15px;
}
