@import "../../css/theme.scss";

.input {
    background-color: #fff;
    border: 1px grey solid;
    width: 190px;
    padding: 20px 10px 20px 10px;
    height: 30px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}
::placeholder {
    color: $baseFontColor;
}
.email {
    display: block;
    width: 100%;
}
.firstName {
    width: 50%;
    display: inline;
}
.lastName {
    width: 50%;
    display: inline;
}
.phone {
    width: 100%;
}
.commentary {
    width: 100%;
    height: 150px;
    padding: 20px 10px 20px 10px;
}
.submitButton {
    background-color: $accentColor;
    padding: 10px 40px 10px 40px;
    border-radius: 4px;
    color: #fff;
    font-family: $titleFamily;
}
.legal {
    color: #fff;
    font-family: $bodyFamily;
    font-size: 10px;
}

.media {
    width: 600px;
    transform: rotate(-25deg);
    padding-left: 120px;
    padding-top: 30px;
}
.formTitle {
    color: $baseFontColor;
    margin-bottom: 15px;
}
