@import "../../css/theme.scss";

/////////SCAFFOLDING/////////
.section {
    background-color: $darkSection;
}
.section .row {
    align-items: center;
}

/////////TEXT CONTAINER STYLES/////////
.teamInfo {
    margin-top: 30px;
}
@media (min-width: 575px) {
    .teamInfo {
        margin-left: 30px;
        margin-top: 0px;
    }
}

/////////SUBTITLE/////////
.subTitle {
    font-weight: $bold;
    color: $tertiaryColor;
    font-size: $h4mobile;
}
@media (min-width: 575px) {
    .subTitle {
        font-size: $h4;
    }
}

/////////TITLE/////////
.title {
    font-size: $h2mobile;
    color: $baseFontColor;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media (min-width: 575px) {
    .title {
        font-size: $h2;
    }
}

/////////CONTENT/////////
.content {
    color: $secondaryColor;
    font-size: $bodyMobile;
}
@media (min-width: 575px) {
    .content {
        color: $secondaryColor;
        font-size: $body;
    }
}
