@import "../../css/theme.scss";

/////////SCAFFOLDING/////////
.section {
    background-color: #DDD9CE;
}
.section .row {
    align-items: center;
}

/////////TITLE/////////
.title {
    font-size: $h2mobile;
    color: $baseFontColor;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media (min-width: 575px) {
    .title {
        font-size: $h3;
    }
}
.buttonTitle {
    color: #fff;
}
.button {
    font-size: $body;
    font-weight: 600;
    background: #3D3935;
    padding: 20px 40px 20px 40px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    width: 150px;
    margin-top: 15px;
}
.button:hover {
    background: #5B5550;
}
.content {
    font-size: $body;
}
