@import "../../css/theme.scss";

/////////SCAFFOLDING/////////
.section {
    background-color: $lightSection;
}
.section .row {
    align-items: center;
}

/////////TITLE/////////
.title {
    font-size: $h2;
    color: $baseFontColor;
    margin-top: $mediumSpace;
    margin-bottom: $smallSpace;
}
@media (min-width: 768px) {
    .title {
        margin-top: $smallSpace;
        margin-bottom: $smallSpace;
    }
}
.buttonTitle {
    color: $secondaryColor;
}
.button {
    background: $tertiaryButton;
    @include buttonTall;
}
.button:hover {
    background: $tertiaryButtonHover;
}
.content {
    font-size: $body;
}
