/////////MIXINS/////////

/////////INPUTS/////////
@mixin input {
    width: 190px;
    padding: 20px 10px 20px 10px;
    height: 30px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}
@mixin inputLight {
    background-color: #fff;
    border: 1px grey solid;
}

@mixin inputDark {
    background-color: #5f6b27;
    border: none;
}

/////////BORDER/////////
@mixin border {
    border-color: $borderColor;
    border-radius: 15px;
    border-width: .5px;
    border-style: solid;
    height: 250px;
}
@mixin borderHover {
    background-color: #fff;
    border-style: none;
}

/////////BUTTON SIZES/////////
@mixin buttonTall {
    padding: 15px 25px 15px 25px;
    border-radius: 4px;
    text-align: center;
    width: 150px;
    color: $primaryColor;
    font-family: $titleFamily;
    font-size: $body;
}
@mixin buttonShort {
    background-color: #fff;
    padding: 10px 40px 10px 40px;
    border-radius: 4px;
    color: $accentColor;
    font-family: $titleFamily;
}

@mixin heroContent {
    color: #fff;
    animation: fadeIn ease 3s;
    animation-fill-mode: forwards;
    animation: fadein 4s;
    width: 50px;

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    @media (min-width: 768px) {
        .heroContent {
            max-width: 200px;
        }
    }
}


/////////BACKGROUND COLORS/////////
$primaryColor: #fff;
$darkSection: #3D3935;
$lightSection: #DDD9CE;
$tertiarySection: #3D441D;

/////////FONT FAMILIES/////////
$bodyFamily: "Europa-Regular";
$titleFamily: "Europa-Bold";

/////////FONT COLORS/////////
$baseFontColor: #3D3935;
$secondaryColor: #fff;
$accentColor: #f27177;

/////////BUTTON COLORS/////////
$primaryButton: #3D441D;
$secondaryButton: #fff;
$tertiaryButton: #3D3935;

/////////BUTTON HOVER COLORS/////////
$primaryButtonHover: #5f6b27;
$secondaryButtonHover: #e6e6e6;
$tertiaryButtonHover: #5B5550;

/////////FONT SIZES--DESKTOP/////////
$heroBigFont: 3.75rem;
$h1: 2.125rem;
$h2: 1.5rem;
$h3: 1.375rem;
$h4: 1.125rem;
$h5: 1rem;
$h6: 0.875rem;

$lead: 1.125rem;
$body: 0.875rem;

$subtitle: 0.875rem;

/////////FONT SIZES--MOBILE/////////
$heroBigFontMobile: 2.875rem;
$h1mobile: 2.125rem;
$h2mobile: 2rem;
$h3mobile: 1.5rem;
$h4mobile: 1.375rem;
$h5mobile: 1rem;
$h6mobile: 0.875rem;

$leadMobile: 0.875rem;
$bodyMobile: 0.75rem;

$subtitleMobile: 0.75rem;

/////////BOX SHADOW/////////
$boxShadow: 0 5px 15px 0 rgba(0,0,0,0.07),
            0 15px 35px 0 rgba(50,50,93,0.1);

/////////BORDER COLOR/////////
$borderColor: #DDD9CE;

/////////BUTTON UNDERLINE/////////
$underlineHover: underline;

/////////SPACING/////////
$smallSpace: 15px;
$mediumSpace: 30px;
$largeSpace: 60px;

/////////ALIGNMENT/////////
$right: right;
$center: center;
$left: left;
