@import "../../css/theme.scss";

.section {
    background: $lightSection;
    margin-top: 30px;
}

.heading {
    font-size: $h2;
    color: $baseFontColor;
}
.body {
    font-size: $body;
    color: $baseFontColor;
}
.form {
    text-align: center;
}
.formContainer {
    justify-content: center;
}
.input {
    background-color: #fff;
    border: none;
    padding: 20px 10px 20px 10px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    color: #000;
}
.email {
    width: 300px;
}
.firstName {
    width: 300px;
}
.lastName {
    width: 300px;
}
.subject {
    width: 300px;
}
.commentary {
    width: 300px;
    height: 95px;
    padding: 20px 10px 20px 10px;
}
.buttonContainer {
    display: flex;
    justify-content: center;
}
.submitButton {
    background-color: $baseFontColor;
    padding: 10px 40px 10px 40px;
    border-radius: 4px;
    color: #fff;
    font-family: $titleFamily;
}
.row {
    display: flex;
    align-items: center;
}
input::placeholder {
    color: $baseFontColor;
}
