@import "../../css/theme.scss";

.section {
    background: $lightSection;
    margin-top: 30px;
}


.contactForm {
    background: #3D441D;
    border-radius: 4px;
}
.form {
    padding: 30px;
    margin: 15px;
}
.input {
    background-color: #fff;
    border: none;
    width: 190px;
    padding: 20px 10px 20px 10px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}
::placeholder {
    color: $baseFontColor;
}
.email {
    display: block;
    width: 100%;
}
.firstName {
    width: 50%;
    display: inline;
}
.lastName {
    width: 50%;
    display: inline;
}
.phone {
    width: 100%;
}
.commentary {
    width: 100%;
    height: 150px;
    padding: 20px 10px 20px 10px;
}
.submitButton {
    background-color: $baseFontColor;
    padding: 10px 40px 10px 40px;
    border-radius: 4px;
    color: #fff;
    font-family: $titleFamily;
}
