@import "../../css/theme.scss";

/////////ROW STYLES/////////
.legal {
    align-items:  center;
}

/////////ICON STYLES/////////
.icon {
    display: inline;
    padding: 14px;
    font-size: 16px;
}
.icon a {
    color: #fff;
}

/////////COPYRIGHT STYLES/////////
.copyright {
    font-size: 14px;
    color: #fff;
}

/////////SOCIAL MEDIA/////////
.socialMedia {
    text-align: right;
}

.section {
    background: #3D3935;
}
