@import "../../css/theme.scss";


/////////BACKGROUND STYLES/////////
.section {
     background: url("./images/winery-hero.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     overflow: hidden;
     position: relative;
     height: 525px;
}
@media (min-width: 768px) {
    .section {
         overflow: hidden;
         position: relative;
         height: 725px;
    }
}


.heroContent {
    color: #fff;
    width: 50px;
    margin-top: 260px;
}
@media (min-width: 768px) {
    .heroContent {
        max-width: 200px;
        margin-top: 240px;
    }
}
.heading {
    font-size: $h1;
}
