@import "../../css/theme.scss";


/////////BACKGROUND STYLES/////////
.section {
     background: url("./images/winery-hero.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     overflow: hidden;
     position: relative;
     height: 625px;
}
.heroContent {
    color: #fff;
    max-width: 200px;
    margin-top: 240px;
}
.heading {
    font-size: $h2;
}
